.card-valorize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  
  > .icone {
    color: #FFFFFF;
  }

  & label {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Montserrat'
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css?family=Montserrat:500');
  }
}