.container {
  margin: 100px;
  padding: 100px;

  .logo {
    max-width: 350px;
    margin-bottom: 50px;   
  }
  
  .mensagem {
    font-size: 18px;
    font-family: 'Montserrat Medium';
    color: #6A6A6A;
  }
}